
body 
{
    display: flex;
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

#root
{
    display: flex;
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    justify-content: center;
    align-items: center;
}

.title-bar
{
    -webkit-app-region: drag !important;

    display: flex;
    position: fixed;
    top: 0;
    
    min-width: 100%;
    min-height: 2.4em;

    background-color: #202020;
}

button 
{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;

    background-color: transparent;
    border-color: #ffffff;
    border: 2px solid;
    border-radius: 5px;
    min-width: 5em;
    min-height: 2em;
    
    text-align: center;
    vertical-align: middle;
    transition: 0.3s ease-in-out;
}
button:hover
{
    background-color: #ffffff;
    border-color: #ffffff;
    border: 2px solid;
    border-radius: 5px;
    color: black;
}